.works {
  padding: 180px 15px;
  background-image: linear-gradient(
    -250deg,
    #00d7c5 0%,
    rgba(3, 214, 172, 0.96) 53%,
    rgba(0, 215, 182, 0.92) 100%
  );
}
.works__title {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}
.works__list {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  list-style: none;
}
w.works__item {
  width: 300px;
}
.works__img {
  width: 100%;
}
