.works {
  padding: 180px 15px;
  background-color: #ffffff;
}
@media (max-width: 830px) {
  .works {
    padding: 100px 15px;
  }
}
.works__title {
  color: #4780fc;
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}
.works__list {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  list-style: none;
}
@media (max-width: 768px) {
  .works__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 425px) {
  .works__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.works__img {
  width: 100%;
  border: 1px solid #4780fc;
}

.effects {
  display: table;
  width: 100%;
  height: 100%;
}

.effects__wrap {
  margin-right: auto;
  margin-left: auto;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.works__list {
  list-style: none;
  width: 100%;
  text-align: center;
  padding: 0;
}

.works__list li {
  position: relative;
  display: inline-block;
  font: normal 14px sans-serif;
  margin: 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

@media (max-width: 350px) {
  .works__list li {
    font-size: 10px;
  }
}

.works__list li img {
  display: block;
  position: relative;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.works__list li > div {
  width: 100%;
  height: 100%;
  position: absolute;
}

.works__list li:hover > div {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.works__list li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  transition: all 0.4s ease-in-out;
}

.works__list li a:hover {
  background: #ff0000;
}

.works__list li div {
  opacity: 0;
  background-color: rgba(74, 133, 213, 0.35);
  transition: all 0.4s ease-in-out;
  color: #fff;
}
.works__list li img {
  transition: all 0.2s linear;
}
.works__lists li:hover img {
  transform: scale(1.3);
}

.works__list li:hover div {
  opacity: 1;
}
