.works {
  padding: 180px 15px;
  background-color: #ffffff;
}
@media (max-width: 830px) {
  .works {
    padding: 100px 15px;
  }
}
.works__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.works__title {
  color: #4780fc;
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}
@media (max-width: 425px) {
  .works__title {
    font-size: 34px;
    margin-bottom: 10px !important;
  }
}
@media (max-width: 325px) {
  .works__title {
    font-size: 24px;
    margin-bottom: 7px !important;
  }
}
.works__list {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  list-style: none;
}
@media (max-width: 768px) {
  .works__list {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;
  }
}
@media (max-width: 425px) {
  .works__list {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 40px;
  }
}
.works__img {
  width: 100%;
  border: 1px solid #4780fc;
}

.effects {
  display: table;
  width: 100%;
  height: 100%;
}

.effects__wrap {
  margin-right: auto;
  margin-left: auto;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.works__list li {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  overflow: hidden;
  font-family: "Lato", sans-serif;
}

@media (max-width: 350px) {
  .works__list li {
    font-size: 12px;
  }
}

.works__list li img {
  display: block;
  position: relative;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.works__list li > div {
  width: 100%;
  height: 100%;
  position: absolute;
}

.works__list li:hover > div {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.works__list li a {
  margin-top: 5px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  transition: all 0.4s ease-in-out;
  padding: 5px 5px;
  border: 1px solid #ffffff;
}

.works__list li a:hover {
  padding: 5px 5px;
  background-color: #4780fc;
  border: 1px solid #ffffff;
}

.works__list li div {
  opacity: 0;
  background-color: rgba(74, 133, 213, 0.35);
  transition: all 0.4s ease-in-out;
  color: #fff;
}
.works__list li img {
  transition: all 0.2s linear;
}
.works__lists li:hover img {
  transform: scale(1.3);
}

.works__list li:hover div {
  opacity: 1;
}
.works__btn-active {
  margin-top: 30px;
  display: none;
  width: 140px;
  height: 45px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  background-color: #4780fc;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3.61px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.works__btn-active:hover {
  background-color: #ffffff;
  border: 1px solid #4780fc;
  color: #4780fc;
}

@media (max-width: 425px) {
  .hidden {
    display: none !important;
  }
}
@media (max-width: 425px) {
  .works__btn-active {
    display: block;
  }
}
