body {
  background: linear-gradient(340deg, #4380d3, rgba(75, 133, 216, 0.87) 69%);
}
.container {
  max-width: 1114px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}
/* === BASE === */
@import "./base/normalize";
@import "./base/fonts";
/* === LAYOUT === */
@import "./layout/header/header";
@import "./layout/about/about";
@import "./layout/works/works";
@import "./layout/contact/contact";
@import "./layout/footer/footer";
/* === THEME === */
@import "./theme/light";
@import "./theme/dark";
/* === COMPONENTS === */
@import "./components/buttons";
/* === ABSTRACTS === */
@import "./abstracts/vars";
@import "./abstracts/mixins";
