.container {
  width: 1114px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}
/* === BASE === */
@import "./base/normalize";
@import "./base/fonts";
/* === LAYOUT === */
@import "./layout/header/header";
@import "./layout/about/about";
@import "./layout/footer/footer";

/* === COMPONENTS === */
@import "./components/buttons";
/* === ABSTRACTS === */
@import "./abstracts/vars";
@import "./abstracts/mixins";
