.education {
  padding: 180px 15px;
  background: #22252c;

  &__title {
    color: #00d7bb;
    font-family: "Open Sans", sans-serif;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
}
.entry {
  max-width: 875px;
  margin: 0 auto;
  &__list {
    &:first-child {
      margin-top: 135px;
    }
  }
  .entry__wrap {
    position: relative;
    margin: 139px 0 96px 0;
    text-align: center;
    &::before {
      content: "";
      top: 66px;
      left: 435px;
      width: 5px;
      height: 340px;
      position: absolute;
      background: url(../images/education/line.png) no-repeat;
    }
  }

  &__inner {
    align-self: flex-start;
  }
  &__item {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 68px;
    &:nth-child(2) {
      margin-top: 155px;
    }
    &::before {
      content: "";
      top: 13px;
      left: 420px;
      width: 34px;
      height: 35px;
      position: absolute;
      background: url(../images/education/icon-headdress.png) no-repeat;
    }
  }
  &__title {
    text-align: end;
    color: #00d7bb;
    font-family: "Open Sans - Semibold";
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__data {
    display: block;
    margin-top: 15px;
    text-align: end;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__text {
    align-self: flex-end;
    width: 400px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.28px;
    line-height: 22px;
  }

  &__title-inverse {
    text-align: start;
    color: #00d7bb;
    font-family: "Open Sans - Semibold";
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__data-inverse {
    display: block;
    margin-top: 15px;
    text-align: start;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__text-inverse {
    align-self: flex-start;
    justify-self: end;
    text-align: end;
    width: 400px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px;
    line-height: 22px;
  }
}
