.header {
  position: relative;
  min-height: 100vh;
  padding: 53px 15px;
  background-size: cover;
  background: var(--back-colorHeder);
}
.header__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header__social {
  min-width: 100px;
}
.header__logo {
  position: absolute;
  margin-left: 8px;
}

.header__wrap {
  position: relative;
}
.header__topic {
  position: absolute;
  height: 194px;
  top: 50%;
  transform: translate(0, -56%);
  -webkit-transform: translate(0, -56%);
  -moz-transform: translate(0, -56%);
  -ms-transform: translate(0, -56%);
  -o-transform: translate(0, -56%);
}
@media (max-width: 423px) {
  .header__topic {
    top: 50%;
    transform: translate(0, -56%);
    -webkit-transform: translate(0, -56%);
    -moz-transform: translate(0, -56%);
    -ms-transform: translate(0, -56%);
    -o-transform: translate(0, -56%);
  }
}
.header__title {
  position: absolute;
  top: 119px;
  width: 410px;
  font-family: "Open Sans", sans-serif;
  font-size: 84px;
  font-weight: 100 !important;
  color: #4780fc;
  animation: animTitle 4s;
  animation-duration: 4s;
  -webkit-animation: animTitle 4s;
}
@keyframes animTitle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 423px) {
  .header__title {
    width: 100%;
  }
}
.header__title-active {
  font-family: "Open Sans", sans-serif;
  font-size: 84px;
  font-weight: 700;
  color: #4780fc;
}
.header__subtitle {
  margin-top: 10px !important;
  margin-left: 8px !important;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 300;
  color: #ffffff;
}
.social__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.social__img {
  width: 20px;
  height: 20px;
}
.img-svg path {
  fill: #ffffff;
}
.logo__img {
  width: 285px;
}

.header__nav {
  display: flex;
}
@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
  .header__nav.active {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 111;
    background-color: #4780fc;
  }
}
.nav__list {
  display: flex;
}
.nav__item {
  margin-right: 15px;
}
.nav__item:last-child {
  margin-right: 0px;
}
.nav__link {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  list-style: none;
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}
.header__box-snow {
  position: fixed;
}
.snow {
  $total: 200;
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;

  @for $i from 1 through $total {
    $random-x: random(1000000) * 0.0001vw;
    $random-offset: random_range(-100000, 100000) * 0.0001vw;
    $random-x-end: $random-x + $random-offset;
    $random-x-end-yoyo: $random-x + ($random-offset / 2);
    $random-yoyo-time: random_range(30000, 80000) / 100000;
    $random-yoyo-y: $random-yoyo-time * 100vh;
    $random-scale: random(10000) * 0.0001;
    $fall-duration: random_range(10, 30) * 1s;
    $fall-delay: random(30) * -1s;

    &:nth-child(#{$i}) {
      opacity: random(10000) * 0.0001;
      transform: translate($random-x, -10px) scale($random-scale);
      animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
    }

    @keyframes fall-#{$i} {
      #{percentage($random-yoyo-time)} {
        transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
      }

      to {
        transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
      }
    }
  }
}
.header__burger {
  display: none;
}
.header__burger.active::before {
  top: 9px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.header__burger.active::after {
  bottom: 9px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.header__burger span {
  position: absolute;
  background-color: #ffffff;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
}
.header__burger.active span {
  top: 9px;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}
@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .header__burger {
    z-index: 999;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
}
