.header {
  position: relative;
  min-height: 100vh;
  padding: 53px 15px;
  background-size: cover;
  background: linear-gradient(to top, #ffffff 50%, #4780fc 50%);
}
.header__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header__social {
  min-width: 100px;
}
.header__logo {
  position: absolute;
  margin-left: 8px;
  animation: animL 2s;
  animation-duration: 2s;
  -webkit-animation: animLogo 2s;
}
@keyframes animLogo {
  from {
    left: -3999px;
  }
  to {
    left: 0;
  }
}
.header__wrap {
  position: relative;
}
.header__topic {
  position: absolute;
  height: 194px;
  top: 50%;
  transform: translate(0, -56%);
  -webkit-transform: translate(0, -56%);
  -moz-transform: translate(0, -56%);
  -ms-transform: translate(0, -56%);
  -o-transform: translate(0, -56%);
}
@media (max-width: 423px) {
  .header__topic {
    top: 50%;
    transform: translate(0, -56%);
    -webkit-transform: translate(0, -56%);
    -moz-transform: translate(0, -56%);
    -ms-transform: translate(0, -56%);
    -o-transform: translate(0, -56%);
  }
}
.header__title {
  position: absolute;
  top: 119px;
  width: 410px;
  font-family: "Open Sans", sans-serif;
  font-size: 84px;
  font-weight: 100 !important;
  color: #4780fc;
  animation: animTitle 2s;
  animation-duration: 2s;
  -webkit-animation: animTitle 2s;
}
@keyframes animTitle {
  from {
    left: 3999px;
  }
  to {
    left: 0;
  }
}
@media (max-width: 423px) {
  .header__title {
    width: 100%;
  }
}
.header__title-active {
  font-family: "Open Sans", sans-serif;
  font-size: 84px;
  font-weight: 700;
  color: #4780fc;
}
.header__subtitle {
  margin-top: 10px !important;
  margin-left: 8px !important;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 300;
  color: #ffffff;
}
.social__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.social__img {
  width: 20px;
  height: 20px;
}
.img-svg path {
  fill: #ffffff;
}
.logo__img {
  width: 285px;
}
.header__burger-btn {
  outline: none;
  cursor: pointer;
  background: transparent;
  border: none;
}
.header__burger-img {
  width: 39px;
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.snow {
  $total: 200;
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;

  @for $i from 1 through $total {
    $random-x: random(1000000) * 0.0001vw;
    $random-offset: random_range(-100000, 100000) * 0.0001vw;
    $random-x-end: $random-x + $random-offset;
    $random-x-end-yoyo: $random-x + ($random-offset / 2);
    $random-yoyo-time: random_range(30000, 80000) / 100000;
    $random-yoyo-y: $random-yoyo-time * 100vh;
    $random-scale: random(10000) * 0.0001;
    $fall-duration: random_range(10, 30) * 1s;
    $fall-delay: random(30) * -1s;

    &:nth-child(#{$i}) {
      opacity: random(10000) * 0.0001;
      transform: translate($random-x, -10px) scale($random-scale);
      animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
    }

    @keyframes fall-#{$i} {
      #{percentage($random-yoyo-time)} {
        transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
      }

      to {
        transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
      }
    }
  }
}
