.footer {
  padding: 40px 15px;
  background: #ffffff;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__social {
  width: 100%;
  max-width: 238px;
}
.footer__line {
  margin: 74px 0 40px 0;
  width: 100%;
  height: 1px;
  background-color: #4780fc;
}
.footer__copyright {
  text-align: center;
  color: #4780fc;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.56px;
}
