.contact {
  padding: 100px 15px;
  background: #4780fc;
}
@media (max-width: 830px) {
  .contact {
    padding: 75px 15px;
  }
}
.contact__inner {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 830px) {
  .contact__inner {
    flex-direction: column;
    align-items: center;
  }
}
.contact__wrapper {
  text-align: center;
  padding: 0 5px;
}
@media (max-width: 830px) {
  .contact__wrapper {
    margin-top: 20px;
  }
}
.contact__img {
  width: 66px;
  height: 68px;
}
.contact__title {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 37px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.81px;
}
@media (max-width: 425px) {
  .contact__title {
    font-size: 34px;
    margin-bottom: 10px !important;
  }
}
@media (max-width: 325px) {
  .contact__title {
    font-size: 24px;
    margin-bottom: 7px !important;
  }
}
.contact__span {
  margin-top: 15px;
  display: inline-block;
  width: 547px;
  height: 31px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.28px;
}

@media (max-width: 830px) {
  .contact__span {
    margin-top: 10px;
    width: 100%;
  }
}

.contact__btn {
  width: 180px;
  height: 55px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  color: #4780fc;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3.61px;
}
.contact__btn:hover {
  background-color: #4780fc;
  color: #ffffff;
  border: 2px solid #ffffff;
}

@media (max-width: 830px) {
  .contact__btn {
    margin-top: 10px;
  }
}
@media (max-width: 425px) {
  .contact__btn {
    margin-top: 20px;
    width: 140px;
    height: 45px;
    font-size: 16px;
  }
}
